<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangshangban.device.dao.DeviceOnlineMapper" >
  <resultMap id="BaseResultMap" type="com.xiangshangban.device.bean.DeviceOnline" >
    <id column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="is_online" property="isOnline" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    device_id, start_time, end_time, is_online
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from device_online
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from device_online
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangshangban.device.bean.DeviceOnline" >
    insert into device_online (device_id, start_time, end_time, 
      is_online)
    values (#{deviceId,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, 
      #{isOnline,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshangban.device.bean.DeviceOnline" >
    insert into device_online
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="isOnline != null" >
        is_online,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="isOnline != null" >
        #{isOnline,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.device.bean.DeviceOnline" >
    update device_online
    <set >
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="isOnline != null" >
        is_online = #{isOnline,jdbcType=VARCHAR},
      </if>
    </set>
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.device.bean.DeviceOnline" >
    update device_online
    set start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      is_online = #{isOnline,jdbcType=VARCHAR}
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>

  <!--非自动生成-->

  <select id="selectMaxStartTimeByDeviceId" resultType="java.lang.String" parameterType="java.lang.String" >
    SELECT
	MAX (start_time)
    FROM
	device_online
    WHERE
    device_id = #{deviceId,jdbcType=VARCHAR}
  </select>

  <select id="selectMaxEndTimeByDeviceId" resultType="java.lang.String" parameterType="java.lang.String" >
    SELECT
	MAX (end_time)
    FROM
	device_online
    WHERE
    device_id = #{deviceId,jdbcType=VARCHAR}
  </select>

  <select id="selectByDeviceIdAndStartTime" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from device_online
    where device_id = #{deviceId,jdbcType=VARCHAR}
    AND start_time = #{startTime,jdbcType=VARCHAR}
  </select>

  <select id="selectByDeviceIdAndEndTime" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from device_online
    where device_id = #{deviceId,jdbcType=VARCHAR}
    AND end_time = #{endTime,jdbcType=VARCHAR}
  </select>

  <update id="updateByDeviceIdAndStartTimeSelective" parameterType="com.xiangshangban.device.bean.DeviceOnline" >
    update device_online
    <set >
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="isOnline != null" >
        is_online = #{isOnline,jdbcType=VARCHAR},
      </if>
    </set>
    where device_id = #{deviceId,jdbcType=VARCHAR}
    AND start_time = #{startTime,jdbcType=VARCHAR}
  </update>

  <update id="updateByDeviceIdAndEndTimeSelective" parameterType="com.xiangshangban.device.bean.DeviceOnline" >
    update device_online
    <set >
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="isOnline != null" >
        is_online = #{isOnline,jdbcType=VARCHAR},
      </if>
    </set>
    where device_id = #{deviceId,jdbcType=VARCHAR}
    AND end_time = #{endTime,jdbcType=VARCHAR}
  </update>
</mapper>