<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangshangban.device.dao.DoorSettingMapper">
    <resultMap id="BaseResultMap" type="com.xiangshangban.device.bean.DoorSetting">
        <id column="door_id" property="doorId" jdbcType="VARCHAR"/>
        <result column="door_open_limit_time" property="doorOpenLimitTime" jdbcType="VARCHAR"/>
        <result column="lock_open_limit_time" property="lockOpenLimitTime" jdbcType="VARCHAR"/>
        <result column="enable_door_event_record" property="enableDoorEventRecord" jdbcType="VARCHAR"/>
        <result column="fault_count_authentication" property="faultCountAuthentication" jdbcType="VARCHAR"/>
        <result column="alarm_time_length_trespass" property="alarmTimeLengthTrespass" jdbcType="VARCHAR"/>
        <result column="first_publish_password" property="firstPublishPassword" jdbcType="VARCHAR"/>
        <result column="second_publish_password" property="secondPublishPassword" jdbcType="VARCHAR"/>
        <result column="threaten_publish_passwrod" property="threatenPublishPasswrod" jdbcType="VARCHAR"/>
        <result column="manager_password" property="managerPassword" jdbcType="VARCHAR"/>
        <result column="enable_door_keep_open" property="enableDoorKeepOpen" jdbcType="VARCHAR"/>
        <result column="enable_first_card_keep_open" property="enableFirstCardKeepOpen" jdbcType="VARCHAR"/>
        <result column="enable_door_calendar" property="enableDoorCalendar" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    door_id, door_open_limit_time, lock_open_limit_time, enable_door_event_record, fault_count_authentication, 
    alarm_time_length_trespass, first_publish_password, second_publish_password, threaten_publish_passwrod, 
    manager_password, enable_door_keep_open, enable_first_card_keep_open, enable_door_calendar
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from door_setting
        where door_id = #{doorId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from door_setting
    where door_id = #{doorId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.xiangshangban.device.bean.DoorSetting">
    insert into door_setting (door_id, door_open_limit_time, lock_open_limit_time, 
      enable_door_event_record, fault_count_authentication, 
      alarm_time_length_trespass, first_publish_password, 
      second_publish_password, threaten_publish_passwrod, 
      manager_password, enable_door_keep_open, enable_first_card_keep_open, 
      enable_door_calendar)
    values (#{doorId,jdbcType=VARCHAR}, #{doorOpenLimitTime,jdbcType=VARCHAR}, #{lockOpenLimitTime,jdbcType=VARCHAR}, 
      #{enableDoorEventRecord,jdbcType=VARCHAR}, #{faultCountAuthentication,jdbcType=VARCHAR}, 
      #{alarmTimeLengthTrespass,jdbcType=VARCHAR}, #{firstPublishPassword,jdbcType=VARCHAR}, 
      #{secondPublishPassword,jdbcType=VARCHAR}, #{threatenPublishPasswrod,jdbcType=VARCHAR}, 
      #{managerPassword,jdbcType=VARCHAR}, #{enableDoorKeepOpen,jdbcType=VARCHAR}, #{enableFirstCardKeepOpen,jdbcType=VARCHAR}, 
      #{enableDoorCalendar,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.xiangshangban.device.bean.DoorSetting">
        insert into door_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="doorId != null">
                door_id,
            </if>
            <if test="doorOpenLimitTime != null">
                door_open_limit_time,
            </if>
            <if test="lockOpenLimitTime != null">
                lock_open_limit_time,
            </if>
            <if test="enableDoorEventRecord != null">
                enable_door_event_record,
            </if>
            <if test="faultCountAuthentication != null">
                fault_count_authentication,
            </if>
            <if test="alarmTimeLengthTrespass != null">
                alarm_time_length_trespass,
            </if>
            <if test="firstPublishPassword != null">
                first_publish_password,
            </if>
            <if test="secondPublishPassword != null">
                second_publish_password,
            </if>
            <if test="threatenPublishPasswrod != null">
                threaten_publish_passwrod,
            </if>
            <if test="managerPassword != null">
                manager_password,
            </if>
            <if test="enableDoorKeepOpen != null">
                enable_door_keep_open,
            </if>
            <if test="enableFirstCardKeepOpen != null">
                enable_first_card_keep_open,
            </if>
            <if test="enableDoorCalendar != null">
                enable_door_calendar,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="doorId != null">
                #{doorId,jdbcType=VARCHAR},
            </if>
            <if test="doorOpenLimitTime != null">
                #{doorOpenLimitTime,jdbcType=VARCHAR},
            </if>
            <if test="lockOpenLimitTime != null">
                #{lockOpenLimitTime,jdbcType=VARCHAR},
            </if>
            <if test="enableDoorEventRecord != null">
                #{enableDoorEventRecord,jdbcType=VARCHAR},
            </if>
            <if test="faultCountAuthentication != null">
                #{faultCountAuthentication,jdbcType=VARCHAR},
            </if>
            <if test="alarmTimeLengthTrespass != null">
                #{alarmTimeLengthTrespass,jdbcType=VARCHAR},
            </if>
            <if test="firstPublishPassword != null">
                #{firstPublishPassword,jdbcType=VARCHAR},
            </if>
            <if test="secondPublishPassword != null">
                #{secondPublishPassword,jdbcType=VARCHAR},
            </if>
            <if test="threatenPublishPasswrod != null">
                #{threatenPublishPasswrod,jdbcType=VARCHAR},
            </if>
            <if test="managerPassword != null">
                #{managerPassword,jdbcType=VARCHAR},
            </if>
            <if test="enableDoorKeepOpen != null">
                #{enableDoorKeepOpen,jdbcType=VARCHAR},
            </if>
            <if test="enableFirstCardKeepOpen != null">
                #{enableFirstCardKeepOpen,jdbcType=VARCHAR},
            </if>
            <if test="enableDoorCalendar != null">
                #{enableDoorCalendar,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.device.bean.DoorSetting">
        update door_setting
        <set>
            <if test="doorOpenLimitTime != null">
                door_open_limit_time = #{doorOpenLimitTime,jdbcType=VARCHAR},
            </if>
            <if test="lockOpenLimitTime != null">
                lock_open_limit_time = #{lockOpenLimitTime,jdbcType=VARCHAR},
            </if>
            <if test="enableDoorEventRecord != null">
                enable_door_event_record = #{enableDoorEventRecord,jdbcType=VARCHAR},
            </if>
            <if test="faultCountAuthentication != null">
                fault_count_authentication = #{faultCountAuthentication,jdbcType=VARCHAR},
            </if>
            <if test="alarmTimeLengthTrespass != null">
                alarm_time_length_trespass = #{alarmTimeLengthTrespass,jdbcType=VARCHAR},
            </if>
            <if test="firstPublishPassword != null">
                first_publish_password = #{firstPublishPassword,jdbcType=VARCHAR},
            </if>
            <if test="secondPublishPassword != null">
                second_publish_password = #{secondPublishPassword,jdbcType=VARCHAR},
            </if>
            <if test="threatenPublishPasswrod != null">
                threaten_publish_passwrod = #{threatenPublishPasswrod,jdbcType=VARCHAR},
            </if>
            <if test="managerPassword != null">
                manager_password = #{managerPassword,jdbcType=VARCHAR},
            </if>
            <if test="enableDoorKeepOpen != null">
                enable_door_keep_open = #{enableDoorKeepOpen,jdbcType=VARCHAR},
            </if>
            <if test="enableFirstCardKeepOpen != null">
                enable_first_card_keep_open = #{enableFirstCardKeepOpen,jdbcType=VARCHAR},
            </if>
            <if test="enableDoorCalendar != null">
                enable_door_calendar = #{enableDoorCalendar,jdbcType=VARCHAR},
            </if>
        </set>
        where door_id = #{doorId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xiangshangban.device.bean.DoorSetting">
    update door_setting
    set door_open_limit_time = #{doorOpenLimitTime,jdbcType=VARCHAR},
      lock_open_limit_time = #{lockOpenLimitTime,jdbcType=VARCHAR},
      enable_door_event_record = #{enableDoorEventRecord,jdbcType=VARCHAR},
      fault_count_authentication = #{faultCountAuthentication,jdbcType=VARCHAR},
      alarm_time_length_trespass = #{alarmTimeLengthTrespass,jdbcType=VARCHAR},
      first_publish_password = #{firstPublishPassword,jdbcType=VARCHAR},
      second_publish_password = #{secondPublishPassword,jdbcType=VARCHAR},
      threaten_publish_passwrod = #{threatenPublishPasswrod,jdbcType=VARCHAR},
      manager_password = #{managerPassword,jdbcType=VARCHAR},
      enable_door_keep_open = #{enableDoorKeepOpen,jdbcType=VARCHAR},
      enable_first_card_keep_open = #{enableFirstCardKeepOpen,jdbcType=VARCHAR},
      enable_door_calendar = #{enableDoorCalendar,jdbcType=VARCHAR}
    where door_id = #{doorId,jdbcType=VARCHAR}
  </update>

    <!--根据门的id查询门的设置信息-->
    <select id="selectDoorSettingInfo" parameterType="String" resultType="map">
    SELECT
    COALESCE(fault_count_authentication,'') AS fault_count_authentication,
    COALESCE(alarm_time_length_trespass,'') AS alarm_time_length_trespass,
    COALESCE(second_publish_password,'') AS second_publish_password,
    COALESCE(threaten_publish_passwrod,'') AS threaten_publish_passwrod,
    COALESCE(enable_door_event_record,'') AS enable_door_event_record,
    COALESCE(enable_door_keep_open,'') AS enable_door_keep_open,
    COALESCE(enable_first_card_keep_open,'') AS enable_first_card_keep_open,
    COALESCE(enable_door_calendar,'') AS enable_door_calendar,
    (case when first_publish_password IS NULL THEN '888888'
     else first_publish_password end) first_publish_password,
    (case when manager_password IS NULL OR manager_password='' THEN '123456'
    else manager_password end) manager_password
    FROM
      door_setting
    WHERE
      door_id = #{doorId}
  </select>
</mapper>