<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangshangban.device.dao.DoorEmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.xiangshangban.device.bean.DoorEmployee" >
    <id column="employee_id" property="employeeId" jdbcType="VARCHAR" />
    <result column="employee_name" property="employeeName" jdbcType="VARCHAR" />
    <result column="door_id" property="doorId" jdbcType="VARCHAR" />
    <result column="door_name" property="doorName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    employee_id, employee_name, door_id, door_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from door_employee
    where employee_id = #{employeeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from door_employee
    where employee_id = #{employeeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangshangban.device.bean.DoorEmployee" >
    insert into door_employee (employee_id, employee_name, door_id, 
      door_name)
    values (#{employeeId,jdbcType=VARCHAR}, #{employeeName,jdbcType=VARCHAR}, #{doorId,jdbcType=VARCHAR}, 
      #{doorName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshangban.device.bean.DoorEmployee" >
    insert into door_employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="employeeName != null" >
        employee_name,
      </if>
      <if test="doorId != null" >
        door_id,
      </if>
      <if test="doorName != null" >
        door_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="employeeId != null" >
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="employeeName != null" >
        #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="doorId != null" >
        #{doorId,jdbcType=VARCHAR},
      </if>
      <if test="doorName != null" >
        #{doorName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.device.bean.DoorEmployee" >
    update door_employee
    <set >
      <if test="employeeName != null" >
        employee_name = #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="doorId != null" >
        door_id = #{doorId,jdbcType=VARCHAR},
      </if>
      <if test="doorName != null" >
        door_name = #{doorName,jdbcType=VARCHAR},
      </if>
    </set>
    where employee_id = #{employeeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.device.bean.DoorEmployee" >
    update door_employee
    set employee_name = #{employeeName,jdbcType=VARCHAR},
      door_id = #{doorId,jdbcType=VARCHAR},
      door_name = #{doorName,jdbcType=VARCHAR}
    where employee_id = #{employeeId,jdbcType=VARCHAR}
  </update>

  <select id="findIfExist" resultMap="BaseResultMap" parameterType="com.xiangshangban.device.bean.DoorEmployee">
    SELECT * FROM door_employee
    WHERE 1=1
    <if test="doorId != null and doorId != ''" >
      AND door_id = #{doorId,jdbcType=VARCHAR}
    </if>
    <if test="doorName != null and doorName != ''" >
      AND door_name = #{doorName,jdbcType=VARCHAR}
    </if>
    <if test="employeeId != null and employeeId != ''" >
      AND employee_id = #{employeeId,jdbcType=VARCHAR}
    </if>
    <if test="employeeName != null and employeeName != ''" >
      AND employee_name = #{employeeName,jdbcType=VARCHAR}
    </if>
  </select>

  <!--###############<授权中心>####################-->
  <!--查询门所关联的人员的信息：手机号、人脸、NFC数量-->
  <select id="queryDoorEmployeeInfo" parameterType="com.xiangshangban.device.bean.DoorEmployee" resultType="map">
    select A.door_id,door_name,B.employee_phone,employee_face,employee_nfc from door_employee A,employee_ B where A.employee_id = B.employee_id
    <if test="doorEmployee!=null">
      <if test="doorEmployee.doorName!=null and doorEmployee.doorName!=''">
        and A.door_name like #{doorEmployee.doorName}
      </if>
    </if>
  </select>

  <!--查询门的命令下发的时间-->
  <select id="selectSendTime" parameterType="String" resultType="map">
   select device_id,max(send_time) sendtime from door_cmd where device_id in
    (select device_id from door_
     <where>
       <if test="doorName!=null and doorName!=''">
         door_name like '%一号门%'
       </if>
     </where>
   )
   group by device_id
  </select>


  <!--根据设备id查询门的id-->
  <select id="selectDoorIdByDeviceId" parameterType="String" resultType="String">
    select door_id from door_ where device_id = #{deviceId}
  </select>

<!--查询门关联的用户的权限信息-->
  <select id="selectRelateEmpPermissionInfo" parameterType="com.xiangshangban.device.bean.RelateEmpPermissionCondition" resultType="map">
    select A.employee_id,employee_name,employee_department_name,B.day_of_week,range_start_time,range_end_time,range_door_open_type opentype,C.device_id
    from employee_ A,time_range_common_employee B,door_ C where A.employee_id in(select employee_id from door_employee
    where door_id = #{relateEmpPermissionCondition.doorId}) and A.employee_id = B.employee_id and C.door_id =  #{relateEmpPermissionCondition.doorId}
    <if test="relateEmpPermissionCondition!=null">
      <if test="relateEmpPermissionCondition.empName!=null and relateEmpPermissionCondition.empName!=''">
        and A.employee_name like #{relateEmpPermissionCondition.empName}
      </if>
      <if test="relateEmpPermissionCondition.deptName!=null and relateEmpPermissionCondition.deptName!=''">
        and A.employee_department_name like #{relateEmpPermissionCondition.deptName}
      </if>
      <if test="relateEmpPermissionCondition.openType!=null and relateEmpPermissionCondition.openType!=''">
        and B.range_door_open_type = #{relateEmpPermissionCondition.openType}
      </if>
    </if>
  </select>

  <!--根据设备ID获取命令下发时间、状态、下发的数据-->
  <select id="selectCMDInfo" parameterType="com.xiangshangban.device.bean.RelateEmpPermissionCondition" resultType="map">
    select sub_cmd_id,send_time,status,data from door_cmd where device_id = #{relateEmpPermissionCondition.deviceId}
    <if test="relateEmpPermissionCondition!=null">
      <if test="relateEmpPermissionCondition.issueState!=null and relateEmpPermissionCondition.issueState!=''">
        and status = #{relateEmpPermissionCondition.issueState}
      </if>
    </if>
  </select>
</mapper>