<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangshangban.device.dao.TimeRangePrivilegeEmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.xiangshangban.device.bean.TimeRangePrivilegeEmployee" >
    <id column="employee_id" property="employeeId" jdbcType="VARCHAR" />
    <result column="range_start_time" property="rangeStartTime" jdbcType="VARCHAR" />
    <result column="range_end_time" property="rangeEndTime" jdbcType="VARCHAR" />
    <result column="range_door_open_type" property="rangeDoorOpenType" jdbcType="VARCHAR" />
    <result column="range_flag_id" property="rangeFlagId" jdbcType="VARCHAR" />
    <result column="door_id" property="doorId" jdbcType="VARCHAR" />
    <result column="start_week_number" property="startWeekNumber" jdbcType="VARCHAR" />
    <result column="end_week_number" property="endWeekNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    employee_id, range_start_time, range_end_time, range_door_open_type, range_flag_id, 
    door_id, start_week_number, end_week_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from time_range_privilege_employee
    where employee_id = #{employeeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from time_range_privilege_employee
    where employee_id = #{employeeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangshangban.device.bean.TimeRangePrivilegeEmployee" >
    insert into time_range_privilege_employee (employee_id, range_start_time, range_end_time, 
      range_door_open_type, range_flag_id, door_id, 
      start_week_number, end_week_number)
    values (#{employeeId,jdbcType=VARCHAR}, #{rangeStartTime,jdbcType=VARCHAR}, #{rangeEndTime,jdbcType=VARCHAR}, 
      #{rangeDoorOpenType,jdbcType=VARCHAR}, #{rangeFlagId,jdbcType=VARCHAR}, #{doorId,jdbcType=VARCHAR}, 
      #{startWeekNumber,jdbcType=VARCHAR}, #{endWeekNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshangban.device.bean.TimeRangePrivilegeEmployee" >
    insert into time_range_privilege_employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="rangeStartTime != null" >
        range_start_time,
      </if>
      <if test="rangeEndTime != null" >
        range_end_time,
      </if>
      <if test="rangeDoorOpenType != null" >
        range_door_open_type,
      </if>
      <if test="rangeFlagId != null" >
        range_flag_id,
      </if>
      <if test="doorId != null" >
        door_id,
      </if>
      <if test="startWeekNumber != null" >
        start_week_number,
      </if>
      <if test="endWeekNumber != null" >
        end_week_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="employeeId != null" >
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="rangeStartTime != null" >
        #{rangeStartTime,jdbcType=VARCHAR},
      </if>
      <if test="rangeEndTime != null" >
        #{rangeEndTime,jdbcType=VARCHAR},
      </if>
      <if test="rangeDoorOpenType != null" >
        #{rangeDoorOpenType,jdbcType=VARCHAR},
      </if>
      <if test="rangeFlagId != null" >
        #{rangeFlagId,jdbcType=VARCHAR},
      </if>
      <if test="doorId != null" >
        #{doorId,jdbcType=VARCHAR},
      </if>
      <if test="startWeekNumber != null" >
        #{startWeekNumber,jdbcType=VARCHAR},
      </if>
      <if test="endWeekNumber != null" >
        #{endWeekNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.device.bean.TimeRangePrivilegeEmployee" >
    update time_range_privilege_employee
    <set >
      <if test="rangeStartTime != null" >
        range_start_time = #{rangeStartTime,jdbcType=VARCHAR},
      </if>
      <if test="rangeEndTime != null" >
        range_end_time = #{rangeEndTime,jdbcType=VARCHAR},
      </if>
      <if test="rangeDoorOpenType != null" >
        range_door_open_type = #{rangeDoorOpenType,jdbcType=VARCHAR},
      </if>
      <if test="rangeFlagId != null" >
        range_flag_id = #{rangeFlagId,jdbcType=VARCHAR},
      </if>
      <if test="doorId != null" >
        door_id = #{doorId,jdbcType=VARCHAR},
      </if>
      <if test="startWeekNumber != null" >
        start_week_number = #{startWeekNumber,jdbcType=VARCHAR},
      </if>
      <if test="endWeekNumber != null" >
        end_week_number = #{endWeekNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where employee_id = #{employeeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.device.bean.TimeRangePrivilegeEmployee" >
    update time_range_privilege_employee
    set range_start_time = #{rangeStartTime,jdbcType=VARCHAR},
      range_end_time = #{rangeEndTime,jdbcType=VARCHAR},
      range_door_open_type = #{rangeDoorOpenType,jdbcType=VARCHAR},
      range_flag_id = #{rangeFlagId,jdbcType=VARCHAR},
      door_id = #{doorId,jdbcType=VARCHAR},
      start_week_number = #{startWeekNumber,jdbcType=VARCHAR},
      end_week_number = #{endWeekNumber,jdbcType=VARCHAR}
    where employee_id = #{employeeId,jdbcType=VARCHAR}
  </update>

  <!--非自动生成-->

  <select id="selectExitByEmployeeId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from time_range_privilege_employee
    where employee_id = #{employeeId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByEmployeeId" parameterType="java.lang.String" >
    delete from time_range_privilege_employee
    where employee_id = #{employeeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deletePrivilege">
		delete from time_range_privilege_employee
	    	where door_id=#{doorId}
	    	<if test="employeeIdList!=null and employeeIdList.size()>0">
	    		and employee_id NOT IN
			    <foreach collection="employeeIdList" index="index" item="employeeId" separator="," open="(" close=")">
			    	#{employeeId}
			    </foreach>
	    	</if>
	</delete>
  <!--根据门id查询首卡常开(开始结束星期、首卡常开人员ID以及开门时间段)-->
  <select id="selectFirstCardKeepOpenInfo" parameterType="Map" resultType="map">
    SELECT
	  S.*, E.employee_name
    FROM
        (
            SELECT
                employee_id,
                COALESCE (range_start_time, '') AS range_start_time,
                COALESCE (range_end_time, '') AS range_end_time,
                COALESCE (start_week_number, '') AS start_week_number,
                COALESCE (end_week_number, '') AS end_week_number
            FROM
                time_range_privilege_employee
            WHERE
                door_id = #{doorId}
        ) S
    INNER JOIN employee_ E ON S.employee_id = E.employee_id
    AND E.employee_company_id = #{companyId}
    ORDER BY
        S.range_start_time
  </select>

  <!--删除指定门上面的具有首开常开权限的人员信息-->
  <delete id="delFirstCardKeepOpenInfo" parameterType="String">
    delete from time_range_privilege_employee where door_id = #{doorId}
  </delete>

  <!--根据门来查询该门上有首卡权限的所有人-->
  <select id="selectByDoorId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from time_range_privilege_employee
    where door_id = #{doorId,jdbcType=VARCHAR}
  </select>
</mapper>