<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangshangban.device.dao.TimeRangeCommonEmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.xiangshangban.device.bean.TimeRangeCommonEmployee" >
    <id column="range_flag_id" property="rangeFlagId" jdbcType="VARCHAR" />
    <result column="employee_id" property="employeeId" jdbcType="VARCHAR" />
    <result column="day_of_week" property="dayOfWeek" jdbcType="VARCHAR" />
    <result column="range_start_time" property="rangeStartTime" jdbcType="VARCHAR" />
    <result column="range_end_time" property="rangeEndTime" jdbcType="VARCHAR" />
    <result column="range_door_open_type" property="rangeDoorOpenType" jdbcType="VARCHAR" />
    <result column="is_all_day" property="isAllDay" jdbcType="VARCHAR" />
    <result column="is_ditto" property="isDitto" jdbcType="VARCHAR" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    range_flag_id, employee_id, day_of_week, range_start_time, range_end_time, range_door_open_type, 
    is_all_day, is_ditto, device_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from time_range_common_employee
    where range_flag_id = #{rangeFlagId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from time_range_common_employee
    where range_flag_id = #{rangeFlagId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangshangban.device.bean.TimeRangeCommonEmployee" >
    insert into time_range_common_employee (range_flag_id, employee_id, day_of_week, 
      range_start_time, range_end_time, range_door_open_type, 
      is_all_day, is_ditto, device_id)
    values (#{rangeFlagId,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR}, #{dayOfWeek,jdbcType=VARCHAR}, 
      #{rangeStartTime,jdbcType=VARCHAR}, #{rangeEndTime,jdbcType=VARCHAR}, #{rangeDoorOpenType,jdbcType=VARCHAR}, 
      #{isAllDay,jdbcType=VARCHAR}, #{isDitto,jdbcType=VARCHAR}, #{deviceId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshangban.device.bean.TimeRangeCommonEmployee" >
    insert into time_range_common_employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rangeFlagId != null" >
        range_flag_id,
      </if>
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="dayOfWeek != null" >
        day_of_week,
      </if>
      <if test="rangeStartTime != null" >
        range_start_time,
      </if>
      <if test="rangeEndTime != null" >
        range_end_time,
      </if>
      <if test="rangeDoorOpenType != null" >
        range_door_open_type,
      </if>
      <if test="isAllDay != null" >
        is_all_day,
      </if>
      <if test="isDitto != null" >
        is_ditto,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rangeFlagId != null" >
        #{rangeFlagId,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="dayOfWeek != null" >
        #{dayOfWeek,jdbcType=VARCHAR},
      </if>
      <if test="rangeStartTime != null" >
        #{rangeStartTime,jdbcType=VARCHAR},
      </if>
      <if test="rangeEndTime != null" >
        #{rangeEndTime,jdbcType=VARCHAR},
      </if>
      <if test="rangeDoorOpenType != null" >
        #{rangeDoorOpenType,jdbcType=VARCHAR},
      </if>
      <if test="isAllDay != null" >
        #{isAllDay,jdbcType=VARCHAR},
      </if>
      <if test="isDitto != null" >
        #{isDitto,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.device.bean.TimeRangeCommonEmployee" >
    update time_range_common_employee
    <set >
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="dayOfWeek != null" >
        day_of_week = #{dayOfWeek,jdbcType=VARCHAR},
      </if>
      <if test="rangeStartTime != null" >
        range_start_time = #{rangeStartTime,jdbcType=VARCHAR},
      </if>
      <if test="rangeEndTime != null" >
        range_end_time = #{rangeEndTime,jdbcType=VARCHAR},
      </if>
      <if test="rangeDoorOpenType != null" >
        range_door_open_type = #{rangeDoorOpenType,jdbcType=VARCHAR},
      </if>
      <if test="isAllDay != null" >
        is_all_day = #{isAllDay,jdbcType=VARCHAR},
      </if>
      <if test="isDitto != null" >
        is_ditto = #{isDitto,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
    </set>
    where range_flag_id = #{rangeFlagId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.device.bean.TimeRangeCommonEmployee" >
    update time_range_common_employee
    set employee_id = #{employeeId,jdbcType=VARCHAR},
      day_of_week = #{dayOfWeek,jdbcType=VARCHAR},
      range_start_time = #{rangeStartTime,jdbcType=VARCHAR},
      range_end_time = #{rangeEndTime,jdbcType=VARCHAR},
      range_door_open_type = #{rangeDoorOpenType,jdbcType=VARCHAR},
      is_all_day = #{isAllDay,jdbcType=VARCHAR},
      is_ditto = #{isDitto,jdbcType=VARCHAR},
      device_id = #{deviceId,jdbcType=VARCHAR}
    where range_flag_id = #{rangeFlagId,jdbcType=VARCHAR}
  </update>

  <!--非自动生成-->
  <select id="findIfExist" resultMap="BaseResultMap" parameterType="com.xiangshangban.device.bean.TimeRangeCommonEmployee">
    SELECT * FROM time_range_common_employee
    WHERE 1=1
    <if test="employeeId != null and employeeId != ''" >
      AND employee_id = #{employeeId,jdbcType=VARCHAR}
    </if>
    <if test="dayOfWeek != null and dayOfWeek != ''" >
      AND day_of_week = #{dayOfWeek,jdbcType=VARCHAR}
    </if>
    <if test="rangeStartTime != null and rangeStartTime != ''" >
      AND range_start_time = #{rangeStartTime,jdbcType=VARCHAR}
    </if>
    <if test="rangeEndTime != null and rangeEndTime != ''" >
      AND range_end_time = #{rangeEndTime,jdbcType=VARCHAR}
    </if>
    <if test="rangeDoorOpenType != null and rangeDoorOpenType != ''" >
      AND range_door_open_type = #{rangeDoorOpenType,jdbcType=VARCHAR}
    </if>
    <if test="isAllDay != null and isAllDay != ''" >
      AND is_all_day = #{isAllDay,jdbcType=VARCHAR}
    </if>
    <if test="deviceId != null and deviceId != ''" >
      AND device_id = #{deviceId,jdbcType=VARCHAR}
    </if>
  </select>

  <update id="updateByEmployeeId" parameterType="com.xiangshangban.device.bean.TimeRangeCommonEmployee" >
    update time_range_common_employee
    set range_flag_id = #{rangeFlagId,jdbcType=VARCHAR},
    day_of_week = #{dayOfWeek,jdbcType=VARCHAR},
    range_start_time = #{rangeStartTime,jdbcType=VARCHAR},
    range_end_time = #{rangeEndTime,jdbcType=VARCHAR},
    range_door_open_type = #{rangeDoorOpenType,jdbcType=VARCHAR},
    is_all_day = #{isAllDay,jdbcType=VARCHAR}
    where employee_id = #{employeeId,jdbcType=VARCHAR}
  </update>

  <select id="selectExistByEmployeeId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from time_range_common_employee
    where employee_id = #{employeeId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByEmployeeId" parameterType="java.lang.String" >
    delete from time_range_common_employee
    where employee_id = #{employeeId,jdbcType=VARCHAR}
  </delete>

  <!--删除当前门上下发人员的开门时间段信息-->
  <delete id="delCommonEmpOpenTime" parameterType="String">
    delete from time_range_common_employee where door_id = #{doorId}
  </delete>

  <select id="temp" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT
    <include refid="Base_Column_List" />
    FROM
    time_range_common_employee
    WHERE
    device_id IS NULL
    OR device_id = ''
  </select>

  <update id="updateByRangeFlagIdSelective" parameterType="com.xiangshangban.device.bean.TimeRangeCommonEmployee" >
    update time_range_common_employee
    <set >
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="dayOfWeek != null" >
        day_of_week = #{dayOfWeek,jdbcType=VARCHAR},
      </if>
      <if test="rangeStartTime != null" >
        range_start_time = #{rangeStartTime,jdbcType=VARCHAR},
      </if>
      <if test="rangeEndTime != null" >
        range_end_time = #{rangeEndTime,jdbcType=VARCHAR},
      </if>
      <if test="rangeDoorOpenType != null" >
        range_door_open_type = #{rangeDoorOpenType,jdbcType=VARCHAR},
      </if>
      <if test="isAllDay != null" >
        is_all_day = #{isAllDay,jdbcType=VARCHAR},
      </if>
      <if test="isDitto != null" >
        is_ditto = #{isDitto,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
    </set>
    where range_flag_id = #{rangeFlagId,jdbcType=VARCHAR}
  </update>
</mapper>